body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.answer {
  padding: 10px;
  border: 1px solid black;
  margin: 10px 0;
  text-align: center;
}
